html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: #ffffff;
  text-align: left;
}

body {
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.36px;
  font-weight: bold;

}

p {
  letter-spacing: 0.38px;
  line-height: 24px;
  font-size: 20px;
}


/* Navigation and footer Styling */

.navbar {
  background: rgb(88,86,214);
  background: linear-gradient(90deg, rgba(88,86,214,1) 0%, rgba(130,129,236,1) 100%);
  border-radius: 0px 0px 16px 16px ;
  box-shadow: 0px -4px 8px -4px rgba(0, 0, 0, 0.1);
}

.nav-container,
.footer-container {
  padding: 0 1.5em;
}

.brand {
  font-size: 22px;
  font-weight: bold;
  padding: 10px 0;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.footer {
  flex-shrink: 0;
  background: rgb(88,86,214);
  background: linear-gradient(90deg, rgba(88,86,214,1) 0%, rgba(130,129,236,1) 100%);
  border-radius: 16px 16px 0px 0px;
  box-shadow: 0px -4px 8px -4px rgba(0, 0, 0, 0.1);
  height: 5vh;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* Button Section Styling */

.button-container {
  background: rgb(88,86,214);
  background: linear-gradient(90deg, rgba(88,86,214,1) 0%, rgba(130,129,236,1) 100%);
  border-radius: 0px 0px 16px 16px;
  margin-bottom: 10px;

}

.button-row {
  padding-top: 30px;
  padding-bottom: 50px;
}

.button-col {
  text-align: center;
}

/* Button Styling */

.main-button {
  color: #ffffff;
  border-color: #ffffff;
  margin: 5px;
}

.main-button:hover {
  color: rgba(255, 255, 255, 0.6);
  border-color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
}

.main-button:focus {
  color: rgb(88,86,214);
  border-color:rgb(88,86,214);
  background-color: #ffffff;
}

.solid-button {
  color: rgb(88,86,214);
  border-color:rgb(88,86,214);
  background-color: #ffffff;
  margin: 5px;
}

.solid-button:hover {
  color: rgba(255, 255, 255, 0.6);
  border-color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
}

.solid-button:focus {
  color: #ffffff;
  border-color: #ffffff;
  margin: 5px;
}
/* Page Styling */

.page-main-container {
  flex: 1 0 auto;
}

/* Map Styling */
.map-container {
  height: 87vh;
}

/* About / Contact / Add Venue Pages */

.about-container,
.add-venue-container {
  background: rgb(88,86,214);
  background: linear-gradient(90deg, rgba(88,86,214,1) 0%, rgba(130,129,236,1) 100%);
  border-radius: 16px 16px 0px 0px;
  margin-top: 10px;
}

.content-row {
  padding-top: 100px;
  padding-bottom: 10px;
}

.image-col {
  text-align: center;
}

.content-image {
  width: 60%;
  border-radius: 8px;
}

.content-title {
  padding: 40px 0;
}

.content-subtitle {
  padding-top: 40px;
  padding-bottom: 10px;
}

.form-text {
  color: rgba(255, 255, 255, 0.6);
}

.form-contact-info {
  padding-top: 50px;
  padding-bottom: 10px;;
}

/* Media Queries */

@media (max-width: 991.98px) { 

.content-p {
  font-size: 18px;
  line-height: 22px;
}

.content-row {
  margin: 0px 20px;
  padding: 75px 40px;
}


 }

 @media (max-width: 767.98px) { 
   .button-row {
     padding-top: 0;
   }

   .content-row {
    margin: 0px 20px;
    padding: 50px 0px;
  }

  }

 @media (max-width: 575.98px) {
  
  .content-image {
    width: 75%;
    border-radius: 8px;
  }
}
