html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: #ffffff;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.36px;
  font-weight: bold;

}

p {
  letter-spacing: 0.38px;
  line-height: 24px;
  font-size: 20px;
}


/* Navigation and footer Styling */

.navbar {
  background: rgb(88,86,214);
  background: linear-gradient(90deg, rgba(88,86,214,1) 0%, rgba(130,129,236,1) 100%);
  border-radius: 0px 0px 16px 16px ;
  box-shadow: 0px -4px 8px -4px rgba(0, 0, 0, 0.1);

}

.nav-container,
.footer-container {
  padding: 0 30px;
}

.brand {
  font-size: 22px;
  font-weight: bold;
  padding: 10px 0;
}

.navbar-toggler {
  border: none;
}


.footer {
  background: rgb(88,86,214);
  background: linear-gradient(90deg, rgba(88,86,214,1) 0%, rgba(130,129,236,1) 100%);
  border-radius: 16px 16px 0px 0px;
  box-shadow: 0px -4px 8px -4px rgba(0, 0, 0, 0.1);
  height: 10vh;
}

/* Map Styling */

.map-container {
  height: 85vh;
}

/* About / Content / Add Venue Pages */

.about-container{
  background: rgb(88,86,214);
  background: linear-gradient(90deg, rgba(88,86,214,1) 0%, rgba(130,129,236,1) 100%);
  border-radius: 16px 16px 0px 0px;
  box-shadow: 0px -4px 8px -4px rgba(0, 0, 0, 0.1);
}

.content-row {
  margin: 5px 0;
  padding: 100px 0;
}

.content-image img {
  width: 25%;
  border-radius: 8px;
}

.content-title {
  padding: 40px 0;
}

.content-subtitle {
  padding-top: 40px;
  padding-bottom: 10px;
}


/* Media Queries */



@media (max-width: 991.98px) { 

.content-p {
  font-size: 18px;
  line-height: 22px;
}

.content-row {
  margin: 5px 20px;
  padding: 75px 40px;
}


 }

 @media (max-width: 575.98px) {
  
  .content-row {
    padding: 75px 0px;
  }
}
